body {
    background-image: url("../img/background.png");
    font-family: Courier New;
}

header {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 12.5px;
    font-size: 3em;
	font-family: Courier New, sans-serif;
}

#subtitle {
    margin: 0px auto; 
	padding-bottom: 30px;
    text-align: center;
    font-size: 1em;
}

#main-content {
    width: 50%;
    margin: 48px auto;
	background: url("../img/craters.png") repeat #f4e987;
    /*background-color: #f4e987;*/
    border-radius: 10px;
    border: 5px solid white;
    padding: 48px;
	text-align: center;
    overflow: hidden;
}

.section-title {
    font-size: 1.5em;
    margin-top: 10;
    margin-bottom: 10;
}


code {
    border-radius:6px;
    background: #161f27;
    padding: 2.5px 5px;
    color: orange;
}

#prof-fig {
    float: left;
}

#prof-pic {
    padding-bottom: 5px;
}


#content > p {
    text-align: justify;
}

#prof-caption {
    font-size: 0.75em;
}

#header-link {
    color: inherit;
    text-decoration: inherit;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    text-align: left;
}


