---
title: Yash's Blog
layout: default
styles: [blogs]
---

<div id="blogs-header"><u>blog</u></div>
{% for category in site.categories %}
<h3 class="category">{{ category[0] }}</h3>
<ul class="category-list">
  {% for post in category[1] %}
  <li>
    <a href="{{ post.url }}" class="post-link">
      <div class="post-title">
        {% if post.series %} Chapter&nbsp;{{ post.chapter }}:&nbsp;{{ post.title
        }} {% else %} {{ post.title }} {% endif %}
      </div>
      <div class="post-date"><i>{{ post.date | date_to_string }}</i></div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
