body {
    color: white;
    background-image: url("assets/images/wood4.png");
}

.box {
    width: 300px;
    height: 300px;
    mask-image: url("assets/images/spotlight.png");
    background-color: blue;
}
