body {
    background-image: url("../images/background.png");
    font-family: Courier New;
}

.section-title {
    font-size: 1.5em;
    margin-top: 10;
    margin-bottom: 10;
}

#main-content {
    width: 50%;
    margin: 48px auto;
	background: url("../images/craters.png") repeat #f4e987;
    border-radius: 10px;
    border: 5px solid white;
    padding: 48px;
    padding-bottom: 20px;
	text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-fig {
    float: left;
}

figure > img {
    padding-bottom: 5px;
}

#content > p {
    text-align: justify;
}

figcaption {
    font-size: 0.75em;
}

#header-link {
    color: inherit;
    text-decoration: inherit;
}

nav {
    border-top: 3px dotted black;
    border-bottom: 3px dotted black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.nav-link {
    color: inherit;
    text-decoration: inherit;
}

.nav-link:hover {
    color: blue;
}

footer {
    margin-top: 40px;
    font-size: 0.75em;
    border-top: 1px solid black;
    width: 100%;
}

pre.highlight {
    margin: 0;
    background-color: inherit;
}

div.highlight {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    display: block;
    padding: 15px;
    background-color: beige;
    border: 2px dotted black;
    font-family: 'Segoe UI', sans-serif;
}

code.language-plaintext {
    background: beige; 
    padding: 1px 3px;
}

.webring-banner__header {
    display: none;
}

.footnotes {
    font-size: 0.75em;
}

.footnote {
    font-size: 0.75em;
}
