#blogs-header {
    font-size: 2em;
    padding-top: 15px;
}

.category {
    margin: 15px 30px;
    margin-bottom: 5px;
    text-align: left;
}

.category-list {
    list-style-type: square;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    padding-left: 0px;
    padding-bottom: 15px;
}

.category-list > li {
    border-bottom: 2px dotted black;
    width: 80%;
    margin: 10px auto;
}

.category-list > li:hover {
    border-bottom: 2px dotted blue;
    color: blue;
}

.post-title {
    display: inline;
}

.post-date {
    display: inline;
}

.post-link {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    justify-content: space-between;
}
