.post-content {
    text-align: left;
    margin: auto;
}

.post-title {
    padding-top: 25px;
    font-size: 2em;
    padding-bottom: 15px;
}

.post-subtitle {
    font-size: 0.85em;
}

.chapter-title {
    text-align: left;
    padding-top: 10px;    
}
