h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 12px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    align-items: top;
    justify-content: space-evenly;
    padding-inline-start: 0px;
    text-align: center;
}

li {
    margin: auto;
}
