html {
    height: 100%;
    overflow-y: scroll;
    overscroll-behavior: none;
}

.themed {
    background-image: linear-gradient(to bottom right, #6600ff,#990099);
}

body {
    font-family: Noto Sans JP, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom right, #6600ff,#990099);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 100%;
    overscroll-behavior: none;
}

#website {
    display: flex;
    flex-direction: column;
}

#header-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1%;
}

.header-link {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    width: 45%;
    margin-right: 5%;
    height: 100%;
    justify-content: space-evenly;
}

nav > * {
    flex: 1;
    margin: 0;
    height: 100%;
}


.nav-link {
    color: white;
    text-decoration: none;
}

header {
    text-align: center;
    width: 30%;
}

main {
    width: 69%;
    height: 100%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    #header-wrapper {
        flex-direction: column;
    }

    header {
        width: 100%;
    }

    nav {
        width: 90%;
        margin: auto;
    }

    main {
        width: 100%;
    }
}
