.card-content {
    width: 220px;

}

.card {
    margin: 20px;
    padding-right: 25px;
    padding-left: 25px;
    box-shadow: 0px 3px 10px #444444;
    box-shadow: 0px 2px 12px #555555;
}

.card:hover {
    background-color: rgba(150, 150, 150, 0.6);
    cursor: pointer;
    -webkit-appearance: none !important;
}

.card-text {
    padding-top: 5px;
    padding-bottom: 7px;
}

.project-link {
    width: 100%;
    height: 100%;
}