.header {
    width: 100%;
    height: 6em;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    height: 100%;
    text-align: center;
    align-items: center;
    align-self: stretch;
}

.header-item {
    color: white;
    text-decoration: none;
    flex-grow: 1;
}
