html {
    height: 100%;
    overflow-y: scroll;
}

.themed {
    background-image: linear-gradient(to bottom right, royalblue,#a528ff);
}

body {
    font-family: Segoe UI, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom right, royalblue,#a528ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 100%;
}

#website {
    display: flex;
    flex-direction: column;
}

#header-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1%;
}

nav {
    display: flex;
    width: 45%;
    margin-right: 5%;
    height: 100%;
}

nav > p {
    flex: 1;
    margin: 0;
    height: 100%;
}

header {
    text-align: center;
    width: 30%;
}

main {
    width: 65%;
    height: 100%;
    margin: auto;
}