html {
    min-height: 100%;
    overflow-y: scroll;
}

body {
    font-family: Segoe UI, sans-serif;
    color: white;
    background-image: linear-gradient(to bottom right, royalblue,#a528ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 100%;
}

section {
    height: fit-content(100%);
}

footer {
    padding-top: 10%;
    padding-bottom: 1%;
}

main {
    overflow: hidden;
    padding-top: 8%;    
}

article {
    width: 70%;
}