.card {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 2px 15px #555555;
    margin: 10px;
    width: 240px;
    height: 250px;
    padding: 0px;
}

.card-content {
    padding: 10px;
}

.card-content > h3 {
    text-align: center;
}

.card-content > div {
    text-overflow: ellipsis;
}